.button {
    align-items: center;
    background-color: #3B413B;
    font-family: Trebuchet MS, sans-serif;
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    position: sticky;
    text-align: center;
    direction: ltr;
    margin: 1px;
    padding: 10px;
    justify-items: center;
}