.choices {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5px;
    background-color: #222422;
    color: #FFFFFF;
    align-items: center;
    max-width: 500px;
}