.stat-container {
    align-items: center;
    display: flex;
    gap: 10px;
    padding: 10px;
    color: white;
    background-color: #0055a1;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    max-width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 600;
}